@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter var", system-ui, sans-serif;
  }
}

.hero-gradient {
  background: linear-gradient(
    to right bottom,
    rgba(17, 24, 39, 0.9),
    rgba(17, 24, 39, 0.7)
  );
}

.card-hover {
  transition: transform 0.3s ease-in-out;
}

.card-hover:hover {
  transform: translateY(-4px);
}